/* @media only screen and (max-width: 600px) {
    .flip-card {
        background-color: transparent;
        width: 20px;
        height: 300px;
        perspective: 1000px;
      }
  } */

  .career_left h1{
     font-size: 1.4em;
     letter-spacing: 2px;
     margin-bottom: 20px;
  }

  .career_left p{
      font-size: 14px;
  }

.form_btn a{
    background-color: rgb(211,35,39);
    padding: 10px 25px;
    color: #fff;
    text-decoration: none;
}

.form_btn a:hover{
    background-color: rgb(214, 84, 86);
}





.flip-card {
    background-color: transparent;
    width: 260px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 4px 10px 25px 0px rgba(161, 160, 160, 0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: rgb(243, 240, 240);
    color: black;
  }
  
  .flip-card-back {
    background-color: rgb(243, 240, 240);
    color: #000;
    transform: rotateY(180deg);
  }

  .flip-card-back h2{
      font-size: 1.8em;
      font-weight: bold;
      margin-top: 20px;
  }
  .flip-card-back p{
      margin-top: 20px;
  }




  .career_font_icon{
      color: red;
      font-size: 5em;
      padding-top: 20px;
      margin-bottom: 40px;
  }